/* 
    Created on : 14 déc. 2013, 01:06:17
    Author     : kaba
*/
@import "jquery/jquery-ui.css";
@import "dataTables/jquery.dataTables.css";
@import "dataTables/jquery.dataTables_themeroller.css";
@import "dataTables/table_jui.css";
/*@import "dataTables/table.css";*/
body{
    margin: 5px 2% 0 2%; 
    border: solid 1px #999;
    border-radius: 10px;
    font-size: 1em;
    /*font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";*/
    /*font: 80%/1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;*/
    color: #555555;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    /*font-size: 80.5%;*/
}
#tableContent{
    width: 100% !important;
}
#header{
    border-bottom: solid 1px #999; 
    border-radius: 10px;
    height: 100px;
    margin-bottom: 5px;
}

#content{
    /*border-bottom: solid 1px #999;*/
    min-height: 100px;
    height: 100%
}

#leftMenu{
    border: solid 1px #999;
    border-left: none;
    height: 300px;
    margin: 5px 2% 5px 0;
    width: 15%;
    float: left;
    border-radius: 10px;
}
#mainContent{
    margin: 5px 0 5px 0;
    width: 80%;
    float: right;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff;
    padding: 0;
}
#mainContent #dynamic {
    margin: 30px 5px 50px auto;
}


#mainContent .demo_jui {
    margin: 30px auto 0 auto;
}

#mainContent .big {
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.6em;
    color: #4E6CA3;
}

#mainContent .spacer {
    height: 20px;
    clear: both;
}

#mainContent .clear {
    clear: both;
}

#mainContent pre {
    padding: 15px;
    background-color: #F5F5F5;
    border: 1px solid #CCCCCC;
}

#mainContent h1 {
    margin-top: 2em;
    font-size: 1.3em;
    font-weight: normal;
    line-height: 1.6em;
    color: #4E6CA3;
    border-bottom: 1px solid #B0BED9;
    clear: both;
}

#mainContent h2 {
    font-size: 1.2em;
    font-weight: normal;
    line-height: 1.6em;
    color: #4E6CA3;
    clear: both;
}

#mainContent a {
    color: #0063DC;
    text-decoration: none;
}

#footer{
    border-radius: 10px;
    clear: both;
    height: 50px;
    border-top: solid 1px #999;
    margin: 50px auto 0 auto;
}