/* 
    Created on : 14 déc. 2013, 01:06:17
    Author     : kaba
*/
body{
    margin: 5px 5% 0 5%; 
    border: solid 1px #999;
    border-radius: 10px;
    font-size: 1em;
    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
    font-size: 80.5%;
}

#header{
    border-bottom: solid 1px #999; 
    border-radius: 10px;
    height: 100px;
    margin-bottom: 5px;
}

#content{
    /*border-bottom: solid 1px #999;*/
    min-height: 100px;
    height: 100%
}

#leftMenu{
    border: solid 1px #999;
    border-left: none;
    height: 300px;
    margin: 5px 2% 5px 0;
    width: 15%;
    float: left;
    border-radius: 10px;
}
#mainContent{
    margin: 5px 0 5px 0;
    width: 80%;
    float: right;
}

#footer{
    border-radius: 10px;
    clear: both;
    height: 50px;
    border-top: solid 1px #999;
}

#tabs { margin-top: 1em; }
#tabs li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
#add_tab { cursor: pointer; }