/* 
    Created on : 14 déc. 2013, 01:06:17
    Author     : kaba
*/
@import "../assets/jquery-ui/themes/base/all.css";
@import "../assets/bootstrap/dist/css/bootstrap.min.css";
@import "../assets/bootstrap/dist/css/bootstrap-theme.min.css";
@import "../assets/datatables-bootstrap3/BS3/assets/css/datatables.css";
/*@import "../assets/metro-ui-css/min/metro-bootstrap.min.css";
@import "../assets/metro-ui-css/min/metro-responsive.min.css";
@import "../assets/metro-ui-css/min/iconFont.min.css";*/
body{
    color: #555555;
    font-family: Arial,Helvetica,sans-serif,Vibrocentric Italic;
    font-size: 13px;
    padding-top: 50px;
    padding-bottom: 20px;
    /*font-size: 80.5%;*/
}
#tableContent{
    width: 100% !important;
}

#footer{
    clear: both;
    height: 50px;
    /*    border-radius: 10px;
        border-top: solid 1px #999;*/
    margin: 50px auto 0 auto;
}
.fixed{
    position: fixed;
    top: 55px;
}
.content{
    margin-top: 5px;
}


/*[class*="col-"] {
  border: 1px solid black;
  border-radius: 6px;
  line-height: 40px;
}*/

a.active{
/*    background-image: linear-gradient(to bottom, #3c3c3c 0px, #222 100%) !important;
    background-repeat: repeat-x;
    border-color: #080808 !important ;
    color: #fff;*/
}